@mixin header-max1000px {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
    .menu {
        width: 100%;
    }
}
@mixin header-max790px {

    .menu__nav {
        width: 100%;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                margin: 0 0;
            }
        }
    }
}
@mixin header-max655px {
    .menu__logo {
        margin-left: 0px;
    }
    .menu {
        flex-direction: column;
        justify-content: space-around;
    }
    .description {
        width: 90%;
        margin: 205px auto 0 auto;
    }
}