@mixin header-max1000px {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
    .menu {
        width: 100%;
    }
}
@mixin header-max790px {
    .menu {
        flex-direction: column;
    }
    .menu__logo {
        margin-left: 0px;
    }
    .menu__nav {
        width: 100%;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                margin: 0 0;
            }
        }

    }
}
@mixin header-max655px {
    .menu {
        
        justify-content: space-around;

    }
    .description {
        display: none;
    }
    .description-min {
        display: block;
        width: 90%;
        height: 160px;
        margin: 205px auto 0 auto;
        background-color: #00809e;
        position: relative;
        z-index: 1;
        padding: 20px 20px;
        opacity: 0.8;
        h2 {
            font-size: 34px;
            font-family: "Oswald";
            color: rgb(255, 255, 255);
            font-weight: 400;
            line-height: 1.2;
        }
    }

    
}