* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@import "fonts.scss";
@import "./header/header.scss";
@import "./header/header-media(min1000px).scss";
@import "./main/main.scss";
@import "./main/main-media(min1000px).scss";
@import "./footer/footer.scss";

@media screen and (max-width: 1000px) {
    @include header-min1000px;
    @include main-min1000px;
}